# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/content/ @bqi343
/solutions/ @bqi343
/content/1_General/ @bqi343
/solutions/general/ @bqi343
/content/2_Mechanics/ @maggie-j-liu @SansPapyrus683
/solutions/mechanics/ @maggie-j-liu @SansPapyrus683
/content/3_Electromagnetism/ @HarryWangATX @nwatx
/solutions/electromagnetism/ @HarryWangATX @nwatx
/content/4_Thermodynamics/ @dongliu0426 @andrewwangva
/solutions/thermodynamics/ @dongliu0426 @andrewwangva
/content/5_Plat/ @dustin-miao @dongliu0426
/solutions/modern/ @dustin-miao @dongliu0426
/content/6_Advanced/ @dustin-miao @dongliu0426
/solutions/advanced/ @dustin-miao @dongliu0426
/content/extraProblems.json
/content/team/ @maggie-j-liu
